<ion-view view-title="Subject">
    <ion-content ng-controller="subjectController">

        <div class="list">
            <div class="item list-group-item" ng-repeat="subject in data.subject">
                <div ui-sref="questions" class="myclass">
                    {{subject}}
                </div>
            </div>
        </div>

        <button class="button button-full button-dark" ui-sref="taskForm">ADD NEW SUBJECT <i class="ion-android-add"></i></button>
    </ion-content>
</ion-view>
